{% extends 'base.html.twig' %}

{% block title %}Modifier avis{% endblock %}

{% block body %}
<main>
<section>
    <h1>Modifier avis</h1>
    <a href="{{ path('admin.avis') }}" class="valider">Retour</a>
    <form>
    {{ include('admin/admin_avis/_form.html.twig') }}
    </form>
    
</section>
</main>
{% endblock %}
