{% extends 'base.html.twig' %}

{% block title %}Ajouter avis
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Ajouter un avis</h1>
			<a href="{{ path('admin.avis') }}" class="valider">Retour</a>
			<form action={{path('admin.avis.new.validate')}} method="post">
				{{ include('admin/admin_avis/_form.html.twig') }}
			</form>
		</section>
	</main>
{% endblock %}
