{% extends 'base.html.twig' %}

{% block title %}Modifier developpeur{% endblock %}

{% block body %}
<main>
<section>
    <h1>Modifier developpeur</h1>
    <a href="{{ path('admin.developpeurs') }}" class="valider">Retour</a>
    {{ include('admin/admin_developpeurs/_form.html.twig')}}
</section>
</main>
{% endblock %}
