{% extends 'base.html.twig' %}

{% block title %}New Developpeurs
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Create new Developpeurs</h1>
			<a href="{{ path('admin.developpeurs') }}" class="valider">Retour</a>
			{% if error %}
				<span>Développeur déjà enregistré</span>
			{% endif %}
			
			{{ include('admin/admin_developpeurs/_form.html.twig') }}

			
		</section>
	</main>
{% endblock %}
