{% extends 'base.html.twig' %}

{% block title %}Ajouter plateforme{% endblock %}

{% block body %}
<main>
<section>
    <h1>Ajouter plateforme</h1>
    <a href="{{ path('admin.plateforme') }}" class="valider">Retour</a>
    {% if error %}
        <span>Plateforme déjà enregistré</span>
    {% endif %}
    
    {{ include('admin/admin_plate_forme/_form.html.twig') }}

    
</section>
</main>
{% endblock %}
