{% extends 'base.html.twig' %}

{% block title %}New Jeux
{% endblock %}

{% block body %}
<main>
	<section>
		<h1>Ajouter un jeu</h1>
		<a href={{ path('admin.jeux') }} class="valider">Retour</a>
		{% if error %}
			<span>Jeux déjà enregistré</span>
		{% endif %}
		
		<form class="form_admin" action={{ path('admin.jeux.newValidate') }} enctype="multipart/form-data" method="post">
			{{ include('admin/admin_jeux/_form.html.twig') }}
		</form>
		
	</section>
</main>
{% endblock %}
