{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<main>
		<section id="section_form">
			<form action="" method="post" class="form_admin">
				<div>
					{% if usernameExistant %}
						<span>Nom utilisateur déja existant</span>
					{% endif %}

					<label for="id_username">Nom utilisateur</label>
					<input type="text" name="username" id="id_username">
				</div>
				<div>
					{% if emailExistant %}
						<span>Email déja existant</span>
					{% endif %}
					<label for="id_email">Email</label>
					<input type="text" name="email" id="id_email">
				</div>
				<div>
					<label for="id_nom">Nom</label>
					<input type="text" name="nom" id="id_nom">
				</div>
				<div>
					<label for="id_prenom">Prénom</label>
					<input type="text" name="prenom" id="id_prenom">
				</div>
				<div>
					<label for="id_date_naissance">Date de naissance</label>
					<input type="date" name="date_naissance" id="id_date_naissance">
				</div>
				<div id="btn_submit" >
					<button type="submit" class="valider">Ajouter utilisateur</button>
				</div>

			</form>
		</section>
	</main>
{% endblock %}
