{% extends 'base.html.twig' %}

{% block title %}Modifier classification{% endblock %}

{% block body %}
<main>
<section>
    <h1>Modifier classification</h1>
    <a href="{{ path('admin.classifications') }}" class="valider">Retour</a>
    {{ include('admin/admin_classifications/_form.html.twig') }}

    

</section>
</main>
{% endblock %}
