{% extends 'base.html.twig' %}

{% block title %}Classifications index{% endblock %}

{% block body %}
<main>
    <section>
    <h1>Classifications index</h1>
    <a href="{{ path('admin.classifications.new') }}" class="ajouter">Ajouter classification</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_classification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classification in classifications %}
            <tr>
                <td>{{ classification.id }}</td>
                <td>{{ classification.libelle }}</td>
                <td>
                    <a href="{{ path('admin.classifications.edit', {'id': classification.id}) }}" class="modifier">Modifier</a>
                    {% include "admin/admin_classifications/_delete_form.html.twig" %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

    </section>
</main>
{% endblock %}
