{% extends 'base.html.twig' %}

{% block title %}Modifier genre{% endblock %}

{% block body %}
<main>
    <section>
    <h1>Modifier genre</h1>
    <a href="{{ path('admin.genre') }}" class="valider">Retour</a>
    {{ include('admin/admin_genre/_form.html.twig', {'button_label': 'Update'}) }}

    </section>
</main>
{% endblock %}
